In [91]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [92]:
from data_bpm.ml_logic.data import get_data, clean_data
import pandas as pd

In [93]:
from data_bpm.interface.main import preprocess

In [94]:
preprocess()

' @@@@ Hello '

## Loading the data from the local csv filesthrough package

In [95]:
data = get_data()[0]
data.head()

Load data from local CSV...

/home/shubhi/code/Shubhi-Varshney/data-bpm/data_bpm/ml_logic/data.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged.drop(columns=columns_to_drop, inplace=True)
/home/shubhi/code/Shubhi-Varshney/data-bpm/data_bpm/ml_logic/data.py:105: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Company'].replace(to_replace_list, pd.NA, inplace=True)
/home/shubhi/code/Shubhi-Varshney/data-bpm/data_bpm/ml_logic/data.py:112: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Choose your role'].fillna(merged_df['jobTitle'], inplace=True)
/home/shubhi/code/Shubhi-Varshney/data-bpm/data_bpm/ml_logic/data.py:116: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Choose your role.1'].fillna(merged_df['jobTitle2'], inplace=True)

,description,headline,location,company,jobTitle,jobDescription,jobLocation,jobDateRange,jobDuration,company2,...,skill2,endorsement2,skill3,endorsement3,skill4,endorsement4,skill5,endorsement5,skill6,endorsement6
UserID,,,,,,,,,,,,,,,,,,,,,
512.0,Experienced professional with the ability to c...,"General Manager - US Finance, Legal, HR, Accou...","Carrollton, Texas, United States",orbis systems,"General Manager, Orbis International Technolog...",A highly driven professional leading the US op...,"Carrollton, Texas, United States",May 2022 - Present,1 yr 10 mos,Texas Instruments,...,Management,21.0,Strategic Planning,21.0,Forecasting,21.0,Organizational Development,21.0,Business Strategy,21.0
652.0,"I am a Product Owner at World Simplified UG, a...",Tech product support intern at Holidu,"Berlin, Berlin, Germany",holidu,Tech product support intern,NaN,"Munich, Bavaria, Germany · Hybrid",Oct 2023 - Present,5 mos,World Simplified UG,...,Product Strategies,NaN,Team Leadership,NaN,Cross-functional Team Leadership,1.0,Project Planning,21.0,Business Development,NaN
618.0,Designer & Problem Solver | CS Student | Aimin...,Making Interfaces Sexier - UI/UX/Dev,"Berlin, Berlin, Germany",a.t.e.m. management gmbh,Web Designer,Skills: Web Design · Cascading Style Sheets (C...,"Berlin, Germany",Aug 2022 - Present,1 yr 7 mos,Freelance,...,Java,NaN,JavaScript,2.0,Cascading Style Sheets (CSS),2.0,Front-End Development,1.0,Wireframing,1.0
96.0,NaN,Product & Growth,"Berlin, Berlin, Germany",clink,Chief Experience Officer,NaN,"Berlin, Germany",Sep 2023 - Present,6 mos,OptioPay Group (now Clink),...,Start-ups,40.0,Cross-functional Team Leadership,3.0,Business Development,33.0,Mobile Applications,10.0,Mobile Technology,35.0
194.0,As a product marketing manager at the JetBrain...,Product marketing manager at JetBrains | Mentor,"Berlin, Berlin, Germany",jetbrains,Product Marketing Manager,NaN,"Berlin, Germany",Oct 2021 - Present,2 yrs 5 mos,Product Marketing Alliance,...,Performance marketing,8.0,Marketing Communications,8.0,Customer Insight,13.0,Market Analysis,12.0,Marketing Research,11.0

In [96]:
data.shape

(470, 36)

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 470 entries, 512.0 to 23.0
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   description         345 non-null    object
 1   headline            470 non-null    object
 2   location            470 non-null    object
 3   company             470 non-null    object
 4   jobTitle            468 non-null    object
 5   jobDescription      317 non-null    object
 6   jobLocation         414 non-null    object
 7   jobDateRange        465 non-null    object
 8   jobDuration         464 non-null    object
 9   company2            462 non-null    object
 10  jobTitle2           461 non-null    object
 11  jobDescription2     383 non-null    object
 12  jobLocation2        395 non-null    object
 13  jobDuration2        461 non-null    object
 14  school              460 non-null    object
 15  schoolDegree        453 non-null    object
 16  schoolDescription   223 non-null    object
 17  schoolDateRange     421 non-null    object
 18  school2             394 non-null    object
 19  schoolDegree2       379 non-null    object
 20  schoolDescription2  175 non-null    object
 21  schoolDateRange2    356 non-null    object
 22  birthday            187 non-null    object
 23  allSkills           456 non-null    object
 24  skill1              456 non-null    object
 25  endorsement1        272 non-null    float64
 26  skill2              454 non-null    object
 27  endorsement2        284 non-null    float64
 28  skill3              452 non-null    object
 29  endorsement3        273 non-null    float64
 30  skill4              449 non-null    object
 31  endorsement4        261 non-null    float64
 32  skill5              447 non-null    object
 33  endorsement5        264 non-null    float64
 34  skill6              447 non-null    object
 35  endorsement6        281 non-null    float64
dtypes: float64(6), object(30)
memory usage: 135.9+ KB

In [98]:
# Columns which are important to build the model 
columns = ['location', 'company', 'jobTitle', 'jobDuration', 'jobDateRange', 'jobTitle2', 'jobDuration2', 'schoolDateRange', 'schoolDegree', 'skill1', 'skill2', 'skill3', ]

In [99]:
# Filtered the data 
data_filtered = data[columns]
data_filtered.head()

,location,company,jobTitle,jobDuration,jobDateRange,jobTitle2,jobDuration2,schoolDateRange,schoolDegree,skill1,skill2,skill3
UserID,,,,,,,,,,,,
512.0,"Carrollton, Texas, United States",orbis systems,"General Manager, Orbis International Technolog...",1 yr 10 mos,May 2022 - Present,"Finance Manager, Analog Engineering Organization",10 yrs 8 mos,2002 - 2004,"MBA, Strategy",Accounting,Management,Strategic Planning
652.0,"Berlin, Berlin, Germany",holidu,Tech product support intern,5 mos,Oct 2023 - Present,Product Manager Intern,5 mos,Nov 2021 - Feb 2022,"Agile Product Management Specialization, Agile...",Market Research,Product Strategies,Team Leadership
618.0,"Berlin, Berlin, Germany",a.t.e.m. management gmbh,Web Designer,1 yr 7 mos,Aug 2022 - Present,Web Designer,2 yrs 10 mos,Oct 2022,"Bachelor's degree, Computer Science",React.js,Java,JavaScript
96.0,"Berlin, Berlin, Germany",clink,Chief Experience Officer,6 mos,Sep 2023 - Present,Chief Experience Officer,1 yr,1998 - 2002,"Bachelor of Engineering, Electrical and Comput...",Product Marketing,Start-ups,Cross-functional Team Leadership
194.0,"Berlin, Berlin, Germany",jetbrains,Product Marketing Manager,2 yrs 5 mos,Oct 2021 - Present,Member,1 yr,2011 - 2013,"Master's degree, Political Research",Product marketing,Performance marketing,Marketing Communications

In [100]:
# Info of filtered data
data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 470 entries, 512.0 to 23.0
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   location         470 non-null    object
 1   company          470 non-null    object
 2   jobTitle         468 non-null    object
 3   jobDuration      464 non-null    object
 4   jobDateRange     465 non-null    object
 5   jobTitle2        461 non-null    object
 6   jobDuration2     461 non-null    object
 7   schoolDateRange  421 non-null    object
 8   schoolDegree     453 non-null    object
 9   skill1           456 non-null    object
 10  skill2           454 non-null    object
 11  skill3           452 non-null    object
dtypes: object(12)
memory usage: 47.7+ KB

In [101]:
# Creating a new column 'Working' from jobDateRange
data_filtered['Working'] = data_filtered['jobDateRange'].astype(str).apply(lambda x : 1 if x.endswith('Present') else 0)
data_filtered = data_filtered.drop(columns = ['jobDateRange'])
data_filtered.head()

/tmp/ipykernel_74022/797956418.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered['Working'] = data_filtered['jobDateRange'].astype(str).apply(lambda x : 1 if x.endswith('Present') else 0)

,location,company,jobTitle,jobDuration,jobTitle2,jobDuration2,schoolDateRange,schoolDegree,skill1,skill2,skill3,Working
UserID,,,,,,,,,,,,
512.0,"Carrollton, Texas, United States",orbis systems,"General Manager, Orbis International Technolog...",1 yr 10 mos,"Finance Manager, Analog Engineering Organization",10 yrs 8 mos,2002 - 2004,"MBA, Strategy",Accounting,Management,Strategic Planning,1
652.0,"Berlin, Berlin, Germany",holidu,Tech product support intern,5 mos,Product Manager Intern,5 mos,Nov 2021 - Feb 2022,"Agile Product Management Specialization, Agile...",Market Research,Product Strategies,Team Leadership,1
618.0,"Berlin, Berlin, Germany",a.t.e.m. management gmbh,Web Designer,1 yr 7 mos,Web Designer,2 yrs 10 mos,Oct 2022,"Bachelor's degree, Computer Science",React.js,Java,JavaScript,1
96.0,"Berlin, Berlin, Germany",clink,Chief Experience Officer,6 mos,Chief Experience Officer,1 yr,1998 - 2002,"Bachelor of Engineering, Electrical and Comput...",Product Marketing,Start-ups,Cross-functional Team Leadership,1
194.0,"Berlin, Berlin, Germany",jetbrains,Product Marketing Manager,2 yrs 5 mos,Member,1 yr,2011 - 2013,"Master's degree, Political Research",Product marketing,Performance marketing,Marketing Communications,1

In [102]:
# Extracting the first word which represents city of the whole location field
data_filtered['location'] = data_filtered['location'].str.split(',').str[0]
data_filtered['location']

UserID
512.0                  Carrollton
652.0                      Berlin
618.0                      Berlin
96.0                       Berlin
194.0                      Berlin
                   ...
279.0                      Berlin
85.0                       Berlin
403.0    Berlin Metropolitan Area
255.0                      Berlin
23.0                       Berlin
Name: location, Length: 470, dtype: object

In [103]:
data_filtered['location'].value_counts()

location
Berlin                                    349
Berlin Metropolitan Area                   67
Germany                                    23
Frankfurt Rhine-Main Metropolitan Area      2
Hamburg                                     2
Carrollton                                  1
Cologne                                     1
Muscat                                      1
New York                                    1
London                                      1
United States                               1
Greater Munich Metropolitan Area            1
United Kingdom                              1
Leipzig                                     1
Zurich                                      1
Greater Munster Area                        1
India                                       1
Prague                                      1
Spain                                       1
Clapton                                     1
Greater Guildford Area                      1
Wrocław                                     1
Mannheim                                    1
Hyderabad                                   1
Seattle                                     1
Skopje                                      1
Palo Alto                                   1
London Area                                 1
Sydney                                      1
Hohen Neuendorf                             1
Basel                                       1
Bavaria                                     1
Name: count, dtype: int64

In [104]:
# Only picking up the people who are based out of Berlin
data_filtered = data_filtered[data_filtered['location'] == 'Berlin']
data_filtered.shape

(349, 12)

In [107]:
calculate_mos('10 mos')

10

In [108]:
def calculate_mos(duration):
    
    # Split the string by whitespace
    parts = duration.split()
    years = 0
    months = 0
    
    # Getting the exact element of years and months
    if len(parts) == 4:
        years = int(parts[0])
        months = int(parts[2])
    elif len(parts) == 2:
        years = 0
        months = int(parts[0])

    total_mos = (years * 12) + months    
    return total_mos

In [109]:
data_filtered.head()

,location,company,jobTitle,jobDuration,jobTitle2,jobDuration2,schoolDateRange,schoolDegree,skill1,skill2,skill3,Working
UserID,,,,,,,,,,,,
652.0,Berlin,holidu,Tech product support intern,5 mos,Product Manager Intern,5 mos,Nov 2021 - Feb 2022,"Agile Product Management Specialization, Agile...",Market Research,Product Strategies,Team Leadership,1
618.0,Berlin,a.t.e.m. management gmbh,Web Designer,1 yr 7 mos,Web Designer,2 yrs 10 mos,Oct 2022,"Bachelor's degree, Computer Science",React.js,Java,JavaScript,1
96.0,Berlin,clink,Chief Experience Officer,6 mos,Chief Experience Officer,1 yr,1998 - 2002,"Bachelor of Engineering, Electrical and Comput...",Product Marketing,Start-ups,Cross-functional Team Leadership,1
194.0,Berlin,jetbrains,Product Marketing Manager,2 yrs 5 mos,Member,1 yr,2011 - 2013,"Master's degree, Political Research",Product marketing,Performance marketing,Marketing Communications,1
446.0,Berlin,getyourguide,Head of Engagement Marketing,1 yr 7 mos,Head of App Growth,1 yr,2010 - 2013,"Bachelor's Degree, Tourism Geography",Online Marketing,SEO,SEM,1

In [110]:
# Calculating the months in the current job
data_filtered['jobDuration'] = data_filtered['jobDuration'].astype(str).apply(lambda x : calculate_mos(x))

In [111]:
# Calculating the months in the last job
data_filtered['jobDuration2'] = data_filtered['jobDuration2'].astype(str).apply(lambda x : calculate_mos(x))

In [112]:
data_filtered.head()

,location,company,jobTitle,jobDuration,jobTitle2,jobDuration2,schoolDateRange,schoolDegree,skill1,skill2,skill3,Working
UserID,,,,,,,,,,,,
652.0,Berlin,holidu,Tech product support intern,5,Product Manager Intern,5,Nov 2021 - Feb 2022,"Agile Product Management Specialization, Agile...",Market Research,Product Strategies,Team Leadership,1
618.0,Berlin,a.t.e.m. management gmbh,Web Designer,19,Web Designer,34,Oct 2022,"Bachelor's degree, Computer Science",React.js,Java,JavaScript,1
96.0,Berlin,clink,Chief Experience Officer,6,Chief Experience Officer,1,1998 - 2002,"Bachelor of Engineering, Electrical and Comput...",Product Marketing,Start-ups,Cross-functional Team Leadership,1
194.0,Berlin,jetbrains,Product Marketing Manager,29,Member,1,2011 - 2013,"Master's degree, Political Research",Product marketing,Performance marketing,Marketing Communications,1
446.0,Berlin,getyourguide,Head of Engagement Marketing,19,Head of App Growth,1,2010 - 2013,"Bachelor's Degree, Tourism Geography",Online Marketing,SEO,SEM,1

In [113]:
# Function to caluc
import datetime

def cal_yearsSinceSchoolPassed(schoolYear):
    
    if schoolYear != 'nan':        
        tokens = schoolYear.split()
        year_schoolEnd = int(tokens[-1])
    
        # Get the current date
        current_date = datetime.datetime.now()
    
        # Extract the year from the current date
        current_year = current_date.year
        years = int(current_year - year_schoolEnd)
    else :
        years = np.nan
        
    return years

In [114]:
data_filtered[data_filtered['jobTitle'].isna()]

,location,company,jobTitle,jobDuration,jobTitle2,jobDuration2,schoolDateRange,schoolDegree,skill1,skill2,skill3,Working
UserID,,,,,,,,,,,,
480.0,Berlin,scula,NaN,0,NaN,0,2013 - 2017,"Bachelor's degree, Software Engineering",Product Development,Back-End Web Development,TypeScript,0

In [115]:
data_filtered['schoolDateRange'].isna().sum()

28

In [116]:
data_filtered['yearsSinceLastSchool'] = data_filtered['schoolDateRange'].astype(str).apply(lambda x: cal_yearsSinceSchoolPassed(x))
data_filtered['yearsSinceLastSchool']

UserID
652.0     2.0
618.0     2.0
96.0     22.0
194.0    11.0
446.0    11.0
         ...
595.0     2.0
279.0     7.0
85.0     15.0
255.0     3.0
23.0     19.0
Name: yearsSinceLastSchool, Length: 349, dtype: float64

In [117]:
data_filtered['schoolDateRange'].isna().sum()

28

In [118]:
data_filtered['yearsSinceLastSchool'].isna().sum()

28

In [119]:
data_filtered['yearsSinceLastSchool'].mean()

6.140186915887851

In [120]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
imputer.fit(data_filtered[['yearsSinceLastSchool']])

data_filtered[['yearsSinceLastSchool']] = imputer.transform(data_filtered[['yearsSinceLastSchool']])

data_filtered['yearsSinceLastSchool'].isna().sum()

0

In [121]:
data_filtered['yearsSinceLastSchool'].mean()

6.140186915887851

In [122]:
data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 349 entries, 652.0 to 23.0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              349 non-null    object
 1   company               349 non-null    object
 2   jobTitle              348 non-null    object
 3   jobDuration           349 non-null    int64
 4   jobTitle2             345 non-null    object
 5   jobDuration2          349 non-null    int64
 6   schoolDateRange       321 non-null    object
 7   schoolDegree          341 non-null    object
 8   skill1                345 non-null    object
 9   skill2                344 non-null    object
 10  skill3                343 non-null    object
 11  Working               349 non-null    int64
 12  yearsSinceLastSchool  349 non-null    float64
dtypes: float64(1), int64(3), object(9)
memory usage: 38.2+ KB

In [272]:
data_filtered.head()

,location,company,jobTitle,jobDuration,jobTitle2,jobDuration2,schoolDateRange,schoolDegree,skill1,skill2,skill3,Working,yearsSinceLastSchool
1,Berlin,holidu,Tech product support intern,5,Product Manager Intern,5,Nov 2021 - Feb 2022,"Agile Product Management Specialization, Agile...",Market Research,Product Strategies,Team Leadership,1,2
3,Berlin,a.t.e.m. management gmbh,Web Designer,19,Web Designer,34,Oct 2022,"Bachelor's degree, Computer Science",React.js,Java,JavaScript,1,2
4,Berlin,clink,Chief Experience Officer,6,Chief Experience Officer,1,1998 - 2002,"Bachelor of Engineering, Electrical and Comput...",Product Marketing,Start-ups,Cross-functional Team Leadership,1,22
5,Berlin,jetbrains,Product Marketing Manager,29,Member,1,2011 - 2013,"Master's degree, Political Research",Product marketing,Performance marketing,Marketing Communications,1,11
6,Berlin,getyourguide,Head of Engagement Marketing,19,Head of App Growth,1,2010 - 2013,"Bachelor's Degree, Tourism Geography",Online Marketing,SEO,SEM,1,11

In [273]:
data_filtered[data_filtered['schoolDateRange'] == '0']

,location,company,jobTitle,jobDuration,jobTitle2,jobDuration2,schoolDateRange,schoolDegree,skill1,skill2,skill3,Working,yearsSinceLastSchool
28,Berlin,builder.io,Growth Product Manager,7,Growth,7,0,"Bachelor's Degree, International Economics and...",Project Management,Digital Marketing,Leadership,1,0
34,Berlin,vestiaire collective,Senior iOS Engineer,10,Cofounder,6,0,NaN,SwiftUI,Software Development,Entrepreneurship,1,0
38,Berlin,le matin,Chefredakteur,277,NaN,0,0,"Master of Arts - MA, Politische Wissenschaft u...",Soziale Medien,Marketing,Medienarbeit,1,0
88,Berlin,weatherpromise,VP of Product,10,Product Angel,8,0,"BA, Computer Science, Cognitive Science, Slavi...",Coaching,Product Discovery,Product Strategy,1,0
93,Berlin,hellofresh,Technical Program Manager,6,Lead Digital Project Manager,45,0,"Master's Degree, Business Development Management",Project Management,Program Management,Business Analysis,1,0
120,Berlin,self-employed sam,Freelance Product Designer,14,Product Designer,7,0,NaN,User Experience Design,Design Management,Product Design,1,0
150,Berlin,figures,Product Manager,16,Product Manager,18,0,"Bachelor of Arts (B.A.), Integrated Social Sci...",Software Product Management,Scrum,Public Speaking,1,0
165,Berlin,google,Senior Product Manager,1,Product Manager,25,0,"Bachelor of Science - BS, IT-Systems-Engineeri...",Visual Storytelling,Data Science,Product Management,1,0
171,Berlin,iu internationale hochschule braunschweig,Freelance Course Builder - Masters Degree in P...,13,Freelance Product Coach & Mentor,7,0,"Master of Business Administration - MBA, Busin...",Product Innovation,SQL,Excel,1,0
217,Berlin,nocodeapes,"founder, CEO & silverback 🦍",16,Head of Operations,16,0,NaN,Robotic Process Automation (RPA),Teamführung,Operative Exzellenz,1,0
247,Berlin,cred,Product Manager,1,Co-Founder,9,0,"Master's degree, Management",Product Knowledge,Product Requirement Definition,Jira,1,0
252,Berlin,tal tattoos,Small Business Owner,50,Small Business Owner,38,0,Bachelor of Arts - BA,Sales Management,Direct Sales,Product Development,1,0
288,Berlin,inspery.com,Chief Product Officer,0,Produktmanager,9,0,NaN,Edge Computing,NaN,NaN,0,0
326,Berlin,packt,Senior Product Manager,16,Growth Product Manager,11,0,"Business Administration and Management, General",Quantitative Analytics,Competitive Analysis,Leadership,1,0
355,Berlin,getyourguide,Director of Product Management,32,Group Product Manager,17,0,"MBA, Entreprenuership and strategy",Product Management,Agile,Social Media,1,0
365,Berlin,wayfair,"Product Manager, Global Supplier Technology (B...",1,"Business Product Owner, Supply Chain Data Inte...",10,0,"Master, Management of Technology",Product Management,Project Management,Agile,1,0
381,Berlin,wizard on demand,Principal,63,Product Manager,43,0,"Bachelor of Science (BSc), Computer Science",Marketing,SEO,Technical Writing,1,0
382,Berlin,bluelayer,Product Manager,4,Product Manager,2,0,"Bachelor of Arts (B.A.), International Business",Growth Strategies,Product Discovery,Alternative Investments,1,0
383,Berlin,rocketlane medical ventures gmbh,Product Lead,2,Co-Founder,37,0,"Bachelor of Arts - BA, Marketing und digitale ...",User Experience (UX),Datenanalyse,Business-Analyse,1,0
384,Berlin,significo,Product Manager,6,Senior Commercial Manager,21,0,"Master’s Degree, Clinical Epidemiology",Product Launch,Outcomes Research,Digital Marketing,1,0
394,Berlin,akirolabs,Founder's Associate,14,Consulting Analyst,31,0,"Master's degree, Business Administration and M...",Entrepreneurship,Management,Research,1,0
418,Berlin,talon.one,Product Manager,3,Senior Product Manager,19,0,Design and Manufacture of Software-Controlled ...,Product Management,Cross-functional Team Leadership,Data Analysis and Interpretation,1,0
425,Berlin,babbel,Data Engineering Manager,19,Data Engineering Manager,8,0,"Masters Degree in Social Work, Clinical/Medica...",Data Visualization,Data Analysis,Workflow Management,1,0
456,Berlin,brlo,Procurement Manager bei BRLO,51,Operations Manger,28,0,Bachelor of Business Administration - BBA,Merchandise Planning,Strategic Procurement,Jahresplanung,1,0
460,Berlin,storygrounds,Lead Producer,22,Lead Producer,9,0,"Bachelor's degree, Arts, Entertainment, and Me...",Team Leadership,Project Management,Communication,1,0
498,Berlin,swaran soft,Software Developer (OutSystems),19,NaN,0,0,"Msc. International Business Management, Busine...",OutSystems,JavaScript,Product Management,0,0
504,Berlin,inhabit,Product Advisor,6,Visiting Tutor,1,0,Real Estate Economics and Finance,Financial Analysis,Financial Reporting,Product Development,1,0
507,Berlin,airalo,Product Director,17,Product Director,7,0,"Master of Business Administration (M.B.A.), E-...",Product Management,Web Analytics,E-business,1,0

In [274]:
data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 349 entries, 1 to 615
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              349 non-null    object
 1   company               349 non-null    object
 2   jobTitle              348 non-null    object
 3   jobDuration           349 non-null    int64
 4   jobTitle2             345 non-null    object
 5   jobDuration2          349 non-null    int64
 6   schoolDateRange       349 non-null    object
 7   schoolDegree          341 non-null    object
 8   skill1                345 non-null    object
 9   skill2                344 non-null    object
 10  skill3                343 non-null    object
 11  Working               349 non-null    int64
 12  yearsSinceLastSchool  349 non-null    int64
dtypes: int64(4), object(9)
memory usage: 38.2+ KB

In [275]:
data_filtered.to_csv('preprocessed.csv')